.step1RadioRev {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .step1RadioRev label {
    height: 72px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #d2d4da;
    border-radius: 8px;
    display: grid;
    place-content: center;
    padding: 10px 45px 10px 20px;
    margin: 0 30px 0 0;
  }
  
  .step1RadioRev .radio > span {
    top: 23px !important;
    right: 15px !important;
    left: unset !important;
  }

  @media (max-width: 480px) {
    .step1RadioRev {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
    .step1RadioRev label {
      margin: 0 0px 15px 0;
    }
}


label p img {
  height: 32px;
  object-fit: contain;
}

label p {
  margin: 0;
  font-size: 16px;
  color: #000;
}