<!-- Main -->
<div class="msMain">
  <!-- Nav -->
  <section class="msNav msbPad">
    <img src="../../../../assets/media/logos/logo.png" alt="logo" />
    <a (click)="signIn()">{{ "HOME.SIGN_IN" | translate }}</a>
  </section>
  <!-- Nav -->
  <!-- Banner -->
  <section class="msBanner msbPad">
    <h2>{{ "HOME.CLOUD_ADOPTION_MIGRATION" | translate }}</h2>
    <p>
      Assess how ready your organization and Windows Server / SQL <br />
      workloads are to move to Azure and get expert curated guidance,<br />
      tools and help to move forward in your Azure cloud journey
    </p>
    <a (click)="signIn()">{{ "HOME.REGISTER_OR_SIGNIN" | translate }}</a>
  </section>
  <!-- Banner -->
  <!-- How It Works -->
  <section class="msHiw msbPad">
    <div class="msTitle">
      <h2>{{ "HOME.HOW_IT_WORKS" | translate }}</h2>
      <p>
        Migration Assessments help customers work through a scenario of <br>questions,
        a working session with an expert and recommendations that result in a curated <br>
        guidance report that is actionable and informative. Assessments take time but 
        time is well-spent.
      </p>
    </div>
    <div class="msHiwContent">
      <div class="hiwBox">
        <span class="material-icons-outlined">
              videocam
              </span>
        <h3>Appointment Via</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        </p>
      </div>
      <div class="hiwBox">
        <span class="material-icons-outlined">
              videocam
              </span>
        <h3>Appointment Via</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        </p>
      </div>
      <div class="hiwBox">
        <span class="material-icons-outlined">
              videocam
              </span>
        <h3>Appointment Via</h3>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        </p>
      </div>
    </div>
  </section>
  <!-- How It Works -->

  <!-- Get Started -->
  <section class="msgs msbPad">
    <div class="msgsContent">
      <div class="msgsLeft mwidth50">
        <div class="msgsTitle">
          <h2>Get Started</h2>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat.
          </p>
        </div>
        <div class="msgsWrap">
          <div class="msgsBox">
            <h2>01</h2>
            <span class="material-icons-outlined">
              videocam
              </span>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore.
            </p>
          </div>
          <div class="msgsBox">
            <h2>02</h2>
            <span class="material-icons-outlined">
              videocam
              </span>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore.
            </p>
          </div>
          <div class="msgsBox">
            <h2>03</h2>
            <span class="material-icons-outlined">
              videocam
              </span>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore.
            </p>
          </div>
          <div class="msgsBox">
            <h2>04</h2>
            <span class="material-icons-outlined">
              videocam
              </span>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
              nonumy eirmod tempor invidunt ut labore et dolore.
            </p>
          </div>
        </div>
      </div>
      <div class="msgsRight mwidth50">
        <img src="../../../../assets/media/images/gs.png" alt="" />
      </div>
    </div>
  </section>
  <!-- Get Started -->
  <!-- Footer -->
  <footer class="msFooter msbFooterPad">
    <p>{{ currentYear }} © {{ "HOME.MICROSOFT_CORPORATION" | translate }}</p>
    <p>
      <span
        ><a href="https://support.microsoft.com/contactus" target="_blank"
          >{{ "HOME.CONTACT_MICROSOFT" | translate }}
          <i class="fas fa-external-link-alt"></i></a
      ></span>
      <span class="fooDivider">|</span>
      <span
        ><a
          href="https://privacy.microsoft.com/en-us/privacystatement"
          target="_blank"
          >{{ "HOME.PRIVACY_AND_COOKIES" | translate
          }}<i class="fas fa-external-link-alt"></i></a
      ></span>
      <span class="fooDivider">|</span>
      <span
        ><a
          href="https://www.microsoft.com/en-us/legal/terms-of-use"
          target="_blank"
          >{{ "HOME.TERMS_OF_USE" | translate }}
          <i class="fas fa-external-link-alt"></i></a
      ></span>
      <span class="fooDivider">|</span>
      <span
        ><a
          href="https://www.microsoft.com/en-us/legal/intellectualproperty/trademarks"
          target="_blank"
          >{{ "HOME.TRADEMARKS" | translate }}
          <i class="fas fa-external-link-alt"></i></a
      ></span>
      <span class="fooDivider">|</span>
      <span
        ><a
          href="https://www.microsoft.com/en-us/legal/compliance/devices-safety-and-eco"
          target="_blank"
          >{{ "HOME.SAFETY_AND_EC" | translate }}
          <i class="fas fa-external-link-alt"></i></a
      ></span>
    </p>
  </footer>
  <!-- Footer -->
</div>
<!-- Main -->
