<div class="card card-custom asDetailCusCard">
  <div class="card-body">
    <h5>Resources</h5>
    <div class="mb-5">
      <b>Download Checklist</b>
      <div class="mt-3" (click)="downloadFile()">
        <div class="downloadClass"
          >{{ blobUrl}}</div
        >
      </div>
    </div>
    <div class="mb-5">
      <b>Link to documentation</b>
      <div class="mt-3">
        <a target="_blank" href="https://docs.cloudlabs.ai/"
          >https://docs.cloudlabs.ai/</a
        >
      </div>
    </div>
    <div class="mb-5">
      <b>Link to Video</b>
      <div class="mt-3">
        <a target="_blank" href="https://vimeo.com/806055268/da45d4e0d6"
          >https://vimeo.com/806055268/da45d4e0d6</a
        >
      </div>
    </div>
  </div>
</div>
