.formateddate{
    width: 170px !important;
}
.formateddate-value{
    position: relative !important;
}

.card-footer-bg{
    background-color: #eef0f8 !important;
    height: 45px !important;
}
.card-top{
    position: relative !important;
    top: -9px !important;
}


.status-width0 {
    width: 0 !important;
}

.status-width100 {
    width: 100% !important;
}